label.hover {
    cursor: pointer
}

h2.questionTitle-bg {
    width: 227px;
    height: 35px;
    padding: 0;
    background:url(../../images/toefl_ico.png) 0 -218px no-repeat
}

.strong-insert {
    background: #000;
    display: inline-block;
    width: 1.13em;
    height: 1.13em;
    margin: 0 8px;
    vertical-align: middle
}

.strong-line {
    background: #c2bfbf
}

.content {
    padding-bottom: 10px
}

.content-text-l, .content-text-r {
    box-sizing: border-box;
    vertical-align: top;
    height: 100%;
    margin: 5px 0;
    padding: 0 16px;
    overflow: auto
}

.content-text-r {
    position: relative;
    background-color: #fff;
    border-left: #bbb solid 1px
}
.content-text-r .passage-title{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.content-text-r.has-scrolltips{
    overflow-x: hidden;
    padding-top: 25px;
}

.content-text-r.has-scrolltips:before{
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    display: block;
    width: 100%;
    height: 22px;
    background-color: #0502bc;
    box-shadow: inset -1px -1px 0 2px #bbb
}

.content-text-r .scroll-tips{
    position: absolute;
    top: 2px;
    right: 6px;
    font-family: "microsoft yahei","黑体",Arial;
    font-size: 14px;
    color: #fff;
}

.mCS-mockScroll.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-mockScroll.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-mockScroll.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-mockScroll.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    border-color: #9d968e;
    background-color: #9d968e;
}

.content-text-r.mCustomScrollbar:not(.mCS_no_scrollbar) {
    padding-right: 0;
}

.content-text-r p{text-indent:2em}.content-text-r p *{text-indent:0}

.content-text-r p:last-child {
    padding-bottom: 1em
}

.content-text-l {
    box-sizing: border-box;
    float: left;
    width: 50%;
    margin-right: 3px;
    background-color: #fff;
    /*text-align: center*/
}

.content-text-l .QandA {
    width: auto;
    margin: 28px 0 0 20px;
    text-align: left
}


.content-text-l .QandA li, .content-text-l .QandA p {
    font-size: 1em
}

.content-text-l .QandA p {
    margin: .5em 0
}

.content-text-l .QandA li {
    margin: .5em 0;
    overflow: hidden
}

.content-text-l .QandA li label {
    display: block;
    padding-left: 40px;
    cursor: pointer;
}
.content-text-l .QandA li .label-radio{
    background: url(../../images/selectbtn.gif) -130px 2px no-repeat
}
.content-text-l .QandA li .label-radio:hover {
    background-position: -104px -18px
}
.content-text-l .QandA li .label-radio.selected {
    background-position: -78px -38px
}

.content-text-l .QandA li .label-checkbox{
    background: url(../../images/selectbtn.gif) -52px -59px no-repeat
}
.content-text-l .QandA li .label-checkbox:hover {
    background-position: -26px -79px;
}
.content-text-l .QandA li .label-checkbox.selected {
    background-position: 0 -99px
}

.content-text-l .QandA li label span {
    line-height: 1.3
}

@media screen and (max-width: 1200px) {
    .content-text-l .QandA li label {
        width: 80%
    }

    .content-text-l, .content-text-r {
        font-size: 16px
    }
}
.content-text-new {
    box-sizing: border-box;
    width: 50%;
    padding-top: 40px;
    font-size: 20px;
    text-align: center
}
.QandA-new {
    width: 900px !important ;
    left: 50%  !important;
    position: relative !important;
    margin-left: -525px  !important;
    margin-top: 120px  !important;
}